
@{
    Layout = "~/Views/Shared/_AnonLayoutX.cshtml";
}





<section id="about">
    <div class="module">
        <div class="row">
            <div class="col-md-4">
                <br /><br /><br /><br />
                <div class="text-center technologies">
                    <img src="~/Images/icon-mvc.png" class="img-responsive" alt="MVC">
                    <img src="~/Images/icon-c.png" class="img-responsive" alt="C#" />
                    <img src="~/Images/icon-entity.png" class="img-responsive" alt="Entity Framework" />
                    
                </div>
            </div>
            <div class="col-md-7">
                <h2>About JD Bug Tracking System</h2>
                <h4>Helping you manage your work, your team, and your clients. Solutions that will help hardworking teams stay on course.</h4>
                <p>JD Bug Tracking System is an internal workflow management tool created using the Model-View-Controller pattern, which quickly renders accurate data specific to each user's interaction with the application.
                <p>Collection and organizing of data is facilitated with the help of Entity Framework using code-first migrations. C# and LINQ are used for processing and querying. Numerous full and partial views, layouts, helper extensions, view models are also used to help handling data. </p>
                <p>Information is rendered to the page through Razor, HTML, and CSS. Javascript provides smooth aesthetic touches and interactive page elements.</p>
                <p>
                    Special features of this app include:
                    <ul>
                        <li>In-depth administrator dashboard to evaluate team progress and potential bottlenecks</li>
                        <li>User authentication and heirarchical role structure</li>
                        <li>Routing and views tailored to each user and their assigned projects, ensuring information security and ease of use</li>
                        <li>Changelogs for modifications to tickets or projects, tracking each object's state through history</li>
                        <li>Automatic notifications keeping relevant parties in the know when a ticket or project changes</li>
                        <li>Comments and attachments functionality to allow for team communication</li>
                        <li>Deletion and restoration of demo information through SQL Stored Procedures to ensure information integrity</li>
                        <li>Built-in security to prevent cross-site scripting and other attacks</li>
                        <li>Clean, responsive tables and charts created with Bootstrap</li>
                    </ul>
                </p>
                <a href="http://jantoine-site.azurewebsites.net/#portfolio" target="_blank" class="btn btn-info">View my other projects</a>
                @*<p><small>This web application was created as part of the Coder Foundry curriculum, spring 2017.</small></p>*@
            </div>
        </div>
    </div>
</section>
