
@{
    ViewBag.Title = "ConfirmationRegister";
}
<main class="main">
    <br />
    <br />
    <div class="centerRLX">
        <div class="login-wrap">
            <div class="container view-content">
                <h2>Confirmation Register</h2>
                <p>You've been registered as a Submitter. For other access, please contact your administrator.</p>
            </div>
        </div>
    </div>
</main>