@{
    Layout = "~/Views/Shared/_AnonLayout.cshtml";
}
<h2>@ViewBag.Title</h2>
<br />
<br />
<div class="centerRLX">
    <div class="login-wrap">
        <div>
            <p>
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>
